:root {
    --beige: #ffebc7;
    --darkPink: #ef61a1;
    --bPink: #fddddd;
    --mPink: #f7bcbc;
    --mpinko: rgb(247, 188, 188, .7);
    --wrong: rgb(255,0,0, .5);
    --wrongAnswer: rgb(255,0,0, .6);
    --right: rgb(124,252,0, .5);

  }

  @font-face {
    font-family: 'HughIsLifePersonalUseItalic-K7axe';
    src: url(fonts/HughIsLifePersonalUseItalic-K7axe.woff) format('woff');
  }


body {
    background-color: var(--bPink);
    font-family: 'Inter',sans-serif;

}

#logo > img {
    width: 200px;
    margin:auto;
    display: block;
}

#outro>img {
    width: 100px;
    margin: auto;
    display: block;
}

#logo {
}

#header {
    margin-bottom: 24px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon-container {
    display:flex;
    gap: 8px;
}

#icon-container>div>svg>path {
    fill: var(--darkPink);
}

#icon-container>div>svg>path:hover {
    fill: red;
}

#container {
    /*background-image: url("images/idols/sana1.jpg");*/
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:18px;
    border: solid var(--mPink) 4px;
    background-size: 360px;
    width: 360px;
    height: 360px;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
}

#container > div {
    background-color: var(--beige);
}

#overlay {
    position:absolute;
    height: 360px;
    width: 360px;
    border-radius:12px;
    display:none;
}

#overlay.wrong {
    transition: ease-in-out .2s;
    display:block;
    background-color: var(--wrong);
}

#overlay.right {
    transition: ease-in-out .2s;
    display:block;
    background-color: var(--right);
}

#overlay.won {
    transition: ease-in-out .2s;
    display:block;
    background-image: url('images/borders/border2.png');
    background-size: 360px;
    background-color: transparent;
}

#overlay>#name-holder {
    position:absolute;
    bottom:-3rem;
    width:360px;

}

#overlay>#name-holder>p{
    font-family: 'HughIsLifePersonalUseItalic-K7axe';
    color: var(--darkPink);
    font-size: 4rem;
    text-align: center;

}

#overlay>#wrong-name-holder {
    position: absolute;
    top: 0px;
    width:356px;
    border: solid red 2px;
    height: 50px;
    background-color: var(--wrongAnswer);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display:none;

}

#overlay>#wrong-name-holder>p {
    color:white;
    font-size:48px;
    text-align:center;
    margin:auto;
}

#container > .uncovered {
    background-color:transparent;
}

.top-left {
    border-top-left-radius: 15px;
}

.top-right {
    border-top-right-radius: 15px;
}

.bottom-right {
    border-bottom-right-radius: 15px;
}
.bottom-left {
    border-bottom-left-radius: 15px;
}

#time {
    color:var(--darkPink);
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 12px;
}


.intro {
    background-color: var(--beige);
    position:absolute;
    width:fit-content;
    left: 50%;
    margin-left: -250px;
    margin-top: 64px;
    
}

.intro>img {
    width:500px;
}

body>.none{
    left:-250px;
    transition-property: all;
    transition-timing-function:ease-out;
    transition-duration: 2s;
}

#time {
    width: 360px;
    height: 64px;
    background-color: var(--mpinko);
    margin: auto;
    border-radius:18px;
    margin-bottom: 8px;
}

#answer {
    width: 360px;
    height: 64px;
    background-color: var(--mpinko);
    margin: auto;
    border-radius: 18px;
    margin-top:8px;
    display:flex;
    padding:8px;
}

#answer>input {
    flex:1;
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--darkPink);
    text-align: center;
}

#answer>input:focus {
    flex:1;
    border: none;
    outline:none;
}

#answer>button {
    width: 64px;
    border-radius: 18px;
    background-color: var(--bPink);
    border: solid 2px var(--darkPink);
}

#answer>button>svg>path {
    fill: var(--darkPink)
}

#next.hidden, #submit.hidden, #answerText.hidden, #outro.hidden, #time.hidden, #answer.hidden, #container.hidden {
    display:none;
}

#next {
    flex:1;
}

#outro {
    background-color: var(--darkPink);
    border-radius: 24px;
    height: 400px;
    width: 500px;
    position:absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: 128px;
    color:white;
}

#outro>p {
    text-align: center;
    font-size: 1.5rem;
}